.signup-form {
    width: 400px;
    margin: 0 auto;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #063a16 !important; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #063a16;
  }

    .signup__btn {
    padding: 7px 15px;
    background: #0f3917;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 768px) {
    .signup__btn {
      margin-bottom: 40px;
      font-size: 0.8rem;
    }
  }